<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.myapplication"
    >

    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64,tv.danmaku.ijk.media.player_x86_64"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name=".MyApplication"
        >
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TestWidgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestCanvasActivity">

        </activity>

        <activity android:name=".ClipImageActivity"
            android:theme="@style/BlackTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".fileprovider.FileSelectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".FileUploadActivity"></activity>
        <activity android:name=".pathdemo.PathDemoActivity">

        </activity>

        <activity android:name=".pull.TestPullActivity">

        </activity>

        <activity android:name=".GraphActivity">


        </activity>

        <service android:name=".ipc.MyService"
            android:process=":remote"
            android:exported="true"
            android:permission="">

            <intent-filter>
                <action android:name="com.example.administrator.myapplication.IMyAidlInterface" />
            </intent-filter>

        </service>

        <activity android:name=".ipc.IpcActivity">

        </activity>

        <activity android:name=".GradientActivity">

        </activity>

        <activity android:name=".behavior.BehaviorActivity">

        </activity>

        <activity android:name=".scroller.TestScrollerActivity">

        </activity>

        <activity android:name=".recyclerview.MyRecyclerViewActivity">

        </activity>

        <activity android:name=".viewpager.ViewPagerActivity">

        </activity>

        <activity android:name=".rx.RxDemoActivity">

        </activity>

        <activity android:name=".textureview.PlayVideoActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <activity android:name=".BMapActivity">

        </activity>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AK" />

        <activity android:name=".recyclerview.tab.TabDemoActivity">

        </activity>

        <activity android:name=".recyclerview.SnapHelperDemoActivity">

        </activity>

        <activity android:name=".recyclerview.MultiTypeActivity">

        </activity>

        <activity android:name=".recyclerview.TabLayoutActivity">

        </activity>

        <activity android:name=".pic.SelectPictureActivity">

        </activity>

        <meta-data android:value="522fdabc56240b7a6604cdb6" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>